server/components/xml/requestSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="request" type="RequestType"/>
  <xs:complexType name="RequestType">
    <xs:sequence>
      <xs:element name="origin" type="xs:string"  minOccurs="1" maxOccurs="1"/>
      <xs:element name="destination" type="xs:string"  minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
